USE [master]
GO
/****** Object:  Database [FlowDB]    Script Date: 24/11/2021 12:42:51 ******/
CREATE DATABASE [FlowDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FlowDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FlowDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FlowDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FlowDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlowDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlowDB]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 24/11/2021 12:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[idNumber] [nvarchar](10) NOT NULL,
	[phone] [nvarchar](10) NOT NULL,
	[firstName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
	[comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Titels]    Script Date: 24/11/2021 12:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Titels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_Titels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateUser]    Script Date: 24/11/2021 12:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Netanel>
-- Create date: <23.11.2021>
-- Description:	<SP_CreateUser>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CreateUser] 

	@idNumber NVARCHAR(10),
	@phone NVARCHAR(10),
	@firstName NVARCHAR(50),
	@lastName NVARCHAR(50),
	@DateOfBirth datetime,
	@comments NVARCHAR(1000)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF NOT EXISTS(SELECT * FROM [Clients] WHERE [idNumber] = @idNumber)
	BEGIN
		INSERT INTO 
			[Clients] ( [idNumber]
						,[phone]
						,[firstName]
						,[lastName]
						,[DateOfBirth]
						,[comments])
			VALUES (@idNumber, @phone, @firstName, @lastName,@DateOfBirth,@comments)
			SELECT '1' AS [STATUS]
		END
	ELSE 
	    BEGIN
		  UPDATE [Clients]
			 SET [phone] = @phone
				,[firstName] = @firstName
				,[lastName] = @lastName
				,[DateOfBirth] = @DateOfBirth
				,[comments] = @comments
		   WHERE [idNumber] = @idNumber ;
			SELECT '2' AS [STATUS]
		END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_getFilteredClients]    Script Date: 24/11/2021 12:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Netanel>
-- Create date: <23.11.2021>
-- Description:	<GetTitle>
-- =============================================
CREATE PROCEDURE [dbo].[SP_getFilteredClients] 

	@searchParam NVARCHAR(1),
	@searchValue NVARCHAR(100)

AS
BEGIN
	SELECT TOP (1000) [Id]
		  ,[idNumber]
		  ,[phone]
		  ,[firstName]
		  ,[lastName]
		  ,[DateOfBirth]
		  ,[comments]
	  FROM [FlowDB].[dbo].[Clients]
	  WHERE @searchParam = '1' AND [idNumber] LIKE '%'+ @searchValue + '%'
	  OR  @searchParam = '2' AND [phone] LIKE '%'+ @searchValue + '%'
	  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTitle]    Script Date: 24/11/2021 12:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Netanel>
-- Create date: <23.11.2021>
-- Description:	<GetTitle>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetTitle] 

AS
BEGIN
SELECT  [Id]
      ,[Title]
  FROM [FlowDB].[dbo].[Titels]
  WHERE Id = 1
END
GO
USE [master]
GO
